.project-init {
	display: flex;
	height: 100vh;
	> div {
		width: 49%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		ul {
			li {
				line-height: 2;
			}
		}
	}
}

.reference-page {
	max-width: $container-max-width;
	margin: 0 auto;
	padding: 0 5%;

	.ref-title{
		color: $text-color;
		font-weight: bold;
		margin-bottom:$spacing-base *2;
		position: relative;
		padding-left: 15px;

		&:before {
			content: "";
			width: 3px;
			height: 90%;
			background: $primary-color;
			display: inline-block;
			margin-right: 10px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0px;

		}

		&.center {
			background: white;
			&:before {
				display: none;
			}
		}
	}

}

.reference-page--intro {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

}

.component {
	margin: 0 0 ceil(($spacing-base-lg * 2)) 0;
}

.component__grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	.component__item {
		width: calc(100% / 3.4);
		margin-bottom: 20px;
		&:nth-child(n+4) {
			border-top: 1px solid #ccc;
		}
		@media (max-width: 767px) {
		  width: calc(100% /2.4);
		}
	}
}

.component__item--card {
	padding: 15px;
	box-shadow: 0 0px 2px rgba(0, 0, 0, 0.15);
	border-radius: $global-radius;
	border-top: 0px !important;

}
@each $section, $color in $colors {
  .color--#{$section} {
    background-color: $color;
		@if (lightness($color) > 90) {
	    border: 1px solid $gray-light;
	  }
  }
}


.color__list {
	display: flex;
	flex-wrap: wrap;
}

.color__item {
	width: calc(100% /3.4);
	display: inline-block;
	text-align: center;
  margin: 0 1% 30px;
	position: relative;
	vertical-align: top;
	h5 {
		font-weight: bold;
		margin: 0px;
	}
	span {
		font-size: 12px;
	}
	@media (max-width: 767px) {
	  width: calc(100% /2.4);
	}
}

.color__block {
	height: 150px;
}

@function contrast-badge($color) {
  @if (lightness( $color ) < 50) {
    @return #fff;
  }
  @else {
    @return darken($color, 50);
  }
}

.badge {
	padding: 3px 6px;
	background: $primary-color;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 5px;
	color: contrast-badge($primary-color);
}

.badge--success {
	background: #D4EEDF;
	color: contrast-badge(#D4EEDF);
}

.badge--warning {
	background: #FCE1B6;
	color: contrast-badge(#FCE1B6);
}
