/*
Site Name:  Hotel Name
Author: Net Affinity
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:

----------------------------------------------------------------
Style for the Reference Page
--------------------------------------------------------------*/
.upper {
  text-transform: uppercase; }

.center {
  text-align: center; }

.bold {
  font-weight: bold; }

/*
  Object Fit How To: (To support IE)
  This mixin can be used to set the object-fit:
  @include object-fit(contain);
  or object-fit and object-position:
  @include object-fit(cover, top);
*/
/*
Aspect Ratio How To:
It will take the first child and make it absolute. May need a container for that.
@include aspect-ratio(16, 9);
*/
/*
Animation How To:
@include anim(300ms, ease);
*/
/*
Gradient How To:
@include gradient(vertical, #000, 1, #000, 0);
*/
/*
Calc How To:
@include calc('width', '100% - 20px');
*/
/*
Placeholder How To:
@include placeholder {
    color: rgba(black, .5);
    font-size: 18px;
}
*/
.project-init {
  display: -ms-flexbox;
  display: flex;
  height: 100vh; }

.project-init > div {
  width: 49%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center; }

.project-init > div ul li {
  line-height: 2; }

.reference-page {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 5%; }

.reference-page .ref-title {
  color: #555555;
  font-weight: bold;
  margin-bottom: 40px;
  position: relative;
  padding-left: 15px; }

.reference-page .ref-title:before {
  content: "";
  width: 3px;
  height: 90%;
  background: #FFC933;
  display: inline-block;
  margin-right: 10px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  left: 0px; }

.reference-page .ref-title.center {
  background: white; }

.reference-page .ref-title.center:before {
  display: none; }

.reference-page--intro {
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-align: center; }

.component {
  margin: 0 0 80px 0; }

.component__grid {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.component__grid .component__item {
  width: calc(100% / 3.4);
  margin-bottom: 20px; }

.component__grid .component__item:nth-child(n+4) {
  border-top: 1px solid #ccc; }

@media (max-width: 767px) {
  .component__grid .component__item {
    width: calc(100% /2.4); } }

.component__item--card {
  padding: 15px;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border-top: 0px !important; }

.color--primary {
  background-color: #FFC933; }

.color--secondary {
  background-color: #72a9a3; }

.color--book {
  background-color: #FFC933; }

.color--cal-header-bg {
  background-color: #FFC933; }

.color--cal-header-txt {
  background-color: #fff;
  border: 1px solid #aaaaaa; }

.color--cal-active {
  background-color: #e6a900; }

.color--cal-hover {
  background-color: #ffc21a; }

.color--error {
  background-color: #AF0000; }

.color--gray-lighter {
  background-color: #DDD; }

.color--gray-darker {
  background-color: #555555; }

.color--gray-bg {
  background-color: #f7f7f7;
  border: 1px solid #aaaaaa; }

.color--white {
  background-color: white;
  border: 1px solid #aaaaaa; }

.color--black {
  background-color: black; }

.color__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.color__item {
  width: calc(100% /3.4);
  display: inline-block;
  text-align: center;
  margin: 0 1% 30px;
  position: relative;
  vertical-align: top; }

.color__item h5 {
  font-weight: bold;
  margin: 0px; }

.color__item span {
  font-size: 12px; }

@media (max-width: 767px) {
  .color__item {
    width: calc(100% /2.4); } }

.color__block {
  height: 150px; }

.badge {
  padding: 3px 6px;
  background: #FFC933;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  color: #332600; }

.badge--success {
  background: #D4EEDF;
  color: #378c5b; }

.badge--warning {
  background: #FCE1B6;
  color: #ac6c07; }
