@charset "UTF-8";
/*
Site Name:  Hotel Name
Author: Net Affinity
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Base & Theme
2.0 Fonts
3.0 Plugins
4.0 Layout
5.0 Components
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Base & Theme
--------------------------------------------------------------*/
@import "//fonts.googleapis.com/css?family=Open+Sans:300,400,700";
@import "//cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css";
.upper {
  text-transform: uppercase; }

.center {
  text-align: center; }

.bold {
  font-weight: bold; }

/*
  Object Fit How To: (To support IE)
  This mixin can be used to set the object-fit:
  @include object-fit(contain);
  or object-fit and object-position:
  @include object-fit(cover, top);
*/
/*
Aspect Ratio How To:
It will take the first child and make it absolute. May need a container for that.
@include aspect-ratio(16, 9);
*/
/*
Animation How To:
@include anim(300ms, ease);
*/
/*
Gradient How To:
@include gradient(vertical, #000, 1, #000, 0);
*/
/*
Calc How To:
@include calc('width', '100% - 20px');
*/
/*
Placeholder How To:
@include placeholder {
    color: rgba(black, .5);
    font-size: 18px;
}
*/
/* normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

.container {
  width: 95%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px; }

.container--fluid {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0px; }

.no-padding {
  padding: 0px !important; }

.no-padding-right {
  padding-right: 0px !important; }

.no-padding-left {
  padding-left: 0px !important; }

.row {
  margin: 0px !important; }

.visible-xxs {
  display: none; }

/* Large devices */
@media (max-width: 1200px) {
  .no-padding-lg {
    padding: 0; }
  .padding-lg {
    padding: 15px; }
  .txt-center-lg {
    text-align: center; }
  .pull-none-lg {
    float: none !important; }
  .block-lg {
    display: block !important; } }

.is-mobile {
  display: none; }

@media (max-width: 767px) {
  .is-mobile {
    display: block; } }

.is-tablet {
  display: none; }

@media (max-width: 768px) {
  .is-tablet {
    display: block; } }

.is-tablet-lg {
  display: none; }

@media (max-width: 1024px) {
  .is-tablet-lg {
    display: block; } }

@media (max-width: 767px) {
  .is-not-mobile {
    display: none; } }

@media (max-width: 768px) {
  .is-not-tablet {
    display: none; } }

@media (max-width: 1024px) {
  .is-not-tablet-lg {
    display: none; } }

/* Medium devices */
@media (max-width: 992px) {
  .no-padding-md {
    padding: 0; }
  .padding-md {
    padding: 15px; }
  .txt-center-md {
    text-align: center; }
  .pull-none-md {
    float: none !important; }
  .block-md {
    display: block !important; } }

/* Small devices */
@media (max-width: 768px) {
  .hidden-xs {
    display: none !important; }
  .visible-xs {
    display: block !important; }
  .no-padding-sm {
    padding: 0; }
  .padding-sm {
    padding: 15px; }
  .txt-center-sm {
    text-align: center !important; }
  .pull-none-sm {
    float: none !important; }
  .block-sm {
    display: block !important; } }

@media (max-width: 480px) {
  .no-padding-xs {
    padding: 0; }
  .padding-xs {
    padding: 15px; }
  .txt-center-xs {
    text-align: center; }
  .pull-none-xs {
    float: none !important; }
  .hidden-xxs {
    display: none !important; }
  .visible-xxs {
    display: block !important; }
  .block-xs {
    display: block !important; } }

.section--primary {
  background-color: #FFC933; }

.section--secondary {
  background-color: #72a9a3; }

.section--book {
  background-color: #FFC933; }

.section--cal-header-bg {
  background-color: #FFC933; }

.section--cal-header-txt {
  background-color: #fff; }

.section--cal-active {
  background-color: #e6a900; }

.section--cal-hover {
  background-color: #ffc21a; }

.section--error {
  background-color: #AF0000; }

.section--gray-lighter {
  background-color: #DDD; }

.section--gray-darker {
  background-color: #555555; }

.section--gray-bg {
  background-color: #f7f7f7; }

.section--white {
  background-color: white; }

.section--black {
  background-color: black; }

.text--primary {
  color: #FFC933; }

.text--secondary {
  color: #72a9a3; }

.text--book {
  color: #FFC933; }

.text--cal-header-bg {
  color: #FFC933; }

.text--cal-header-txt {
  color: #fff; }

.text--cal-active {
  color: #e6a900; }

.text--cal-hover {
  color: #ffc21a; }

.text--error {
  color: #AF0000; }

.text--gray-lighter {
  color: #DDD; }

.text--gray-darker {
  color: #555555; }

.text--gray-bg {
  color: #f7f7f7; }

.text--white {
  color: white; }

.text--black {
  color: black; }

input[type="text"]:not(.na-searchbox__ratecode-input),
input[type="email"],
input[type="password"],
input[type="search"],
input[type="submit"],
textarea,
select {
  display: block;
  width: 100%;
  font-size: 18px;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 0 10px;
  transition: all 200ms linear;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 55px;
  line-height: 1.4;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  color: black;
  font-weight: normal;
  font-family: "Open Sans", sans-serif; }

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5); }

:-moz-placeholder {
  color: rgba(0, 0, 0, 0.5); }

::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5); }

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5); }

/* ========================= FORMS ========================= */
.form-builder-wrapper, .form-style {
  width: 100%; }

.form-builder-wrapper ul, .form-style ul {
  clear: both;
  margin: 0;
  padding: 0; }

.form-builder-wrapper ul li, .form-style ul li {
  padding: 10px 0;
  display: inline-block;
  width: 100%;
  list-style: none outside none !important;
  margin: 5px 0; }

.form-builder-wrapper ul li:before, .form-style ul li:before {
  display: none; }

.form-builder-wrapper .label-wrapper, .form-style .label-wrapper {
  width: 25%;
  float: left;
  padding-top: 5px; }

.form-builder-wrapper .label-wrapper label, .form-style .label-wrapper label {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 13px;
  font-weight: bold;
  margin: 0px;
  padding: 0px; }

.form-builder-wrapper .label-wrapper label:before, .form-style .label-wrapper label:before {
  display: none; }

.form-builder-wrapper .field-wrapper, .form-style .field-wrapper {
  width: 75%;
  float: left; }

.form-builder-wrapper .field-wrapper label, .form-style .field-wrapper label {
  position: relative;
  padding-left: 30px;
  padding-top: 5px; }

.form-builder-wrapper .field-wrapper label.error, .form-style .field-wrapper label.error {
  background: none repeat scroll 0 0 #f1f1f1;
  color: #919191;
  display: table;
  font-size: 0.8em;
  padding: 0.3em;
  position: relative;
  right: 0;
  text-align: left; }

.form-builder-wrapper .field-wrapper label.error:before, .form-style .field-wrapper label.error:before {
  display: none; }

.form-builder-wrapper .field-wrapper input[type=text],
.form-builder-wrapper .field-wrapper select,
.form-builder-wrapper .field-wrapper textarea,
.form-builder-wrapper .field-wrapper #upload, .form-style .field-wrapper input[type=text],
.form-style .field-wrapper select,
.form-style .field-wrapper textarea,
.form-style .field-wrapper #upload {
  border: 1px solid #DDD;
  font-family: 'Open Sans', Arial, sans-serif;
  width: 100%;
  font-size: 1em;
  clear: both;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

.form-builder-wrapper .field-wrapper input[type=text]:hover,
.form-builder-wrapper .field-wrapper select:hover,
.form-builder-wrapper .field-wrapper textarea:hover,
.form-builder-wrapper .field-wrapper #upload:hover, .form-style .field-wrapper input[type=text]:hover,
.form-style .field-wrapper select:hover,
.form-style .field-wrapper textarea:hover,
.form-style .field-wrapper #upload:hover {
  border: 1px solid #c4c4c4; }

.form-builder-wrapper .field-wrapper input[type=text]:focus,
.form-builder-wrapper .field-wrapper select:focus,
.form-builder-wrapper .field-wrapper textarea:focus,
.form-builder-wrapper .field-wrapper #upload:focus, .form-style .field-wrapper input[type=text]:focus,
.form-style .field-wrapper select:focus,
.form-style .field-wrapper textarea:focus,
.form-style .field-wrapper #upload:focus {
  border: 1px solid #FFC933; }

.form-builder-wrapper .field-wrapper input[type=text].error,
.form-builder-wrapper .field-wrapper select.error,
.form-builder-wrapper .field-wrapper textarea.error,
.form-builder-wrapper .field-wrapper #upload.error, .form-style .field-wrapper input[type=text].error,
.form-style .field-wrapper select.error,
.form-style .field-wrapper textarea.error,
.form-style .field-wrapper #upload.error {
  border-left: 3px solid #AF0000; }

.form-builder-wrapper .field-wrapper input[type=text].error:hover,
.form-builder-wrapper .field-wrapper select.error:hover,
.form-builder-wrapper .field-wrapper textarea.error:hover,
.form-builder-wrapper .field-wrapper #upload.error:hover, .form-style .field-wrapper input[type=text].error:hover,
.form-style .field-wrapper select.error:hover,
.form-style .field-wrapper textarea.error:hover,
.form-style .field-wrapper #upload.error:hover {
  border-left: 3px solid #AF0000; }

.form-builder-wrapper .field-wrapper textarea, .form-style .field-wrapper textarea {
  padding: 10px;
  min-height: 100px; }

.form-builder-wrapper .field-wrapper select[multiple=multiple], .form-style .field-wrapper select[multiple=multiple] {
  min-height: 100px;
  padding: 10px; }

.form-builder-wrapper .field-wrapper input[type=checkbox],
.form-builder-wrapper .field-wrapper input[type=radio], .form-style .field-wrapper input[type=checkbox],
.form-style .field-wrapper input[type=radio] {
  display: none;
  margin-left: 0px;
  vertical-align: text-top; }

.form-builder-wrapper .field-wrapper input[type=checkbox]:hover:before,
.form-builder-wrapper .field-wrapper input[type=radio]:hover:before, .form-style .field-wrapper input[type=checkbox]:hover:before,
.form-style .field-wrapper input[type=radio]:hover:before {
  border: 1px solid #c4c4c4; }

.form-builder-wrapper .field-wrapper input.datepicker, .form-style .field-wrapper input.datepicker {
  background: #fff;
  width: auto;
  float: left;
  padding-left: 40px; }

.form-builder-wrapper .field-wrapper input.phone,
.form-builder-wrapper .field-wrapper input.email, .form-style .field-wrapper input.phone,
.form-style .field-wrapper input.email {
  width: 100%; }

.form-builder-wrapper .field-wrapper .multi-row, .form-style .field-wrapper .multi-row {
  float: left; }

.form-builder-wrapper .field-wrapper .multi-row span.row, .form-style .field-wrapper .multi-row span.row {
  clear: both;
  display: block;
  padding: 0.6em 0;
  float: left; }

.form-builder-wrapper label:before, .form-style label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  top: 3px;
  background-color: #fff;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
  border: 1px solid #DDD;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

.form-builder-wrapper .checkbox label, .form-style .checkbox label {
  cursor: pointer; }

.form-builder-wrapper .checkbox label:before, .form-style .checkbox label:before {
  border-radius: 2px; }

.form-builder-wrapper .checkbox input[type=checkbox]:checked + label:before, .form-style .checkbox input[type=checkbox]:checked + label:before {
  border: 1px solid #FFC933;
  background-color: #FFC933;
  content: "\F12C";
  font-family: 'Material Design Icons';
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: bolder;
  color: #ffffff;
  text-align: center;
  line-height: 18px;
  padding-top: 1px; }

.form-builder-wrapper .radio label, .form-style .radio label {
  cursor: pointer; }

.form-builder-wrapper .radio label:before, .form-style .radio label:before {
  border-radius: 50%; }

.form-builder-wrapper .radio input[type=radio]:checked + label:before, .form-style .radio input[type=radio]:checked + label:before {
  border: 1px solid #FFC933;
  background-color: #FFC933;
  content: "\F764";
  font-family: 'Material Design Icons';
  color: #fff;
  font-size: 11px;
  text-align: center;
  line-height: 21px; }

.form-builder-wrapper table, .form-style table {
  width: 100%; }

.form-builder-wrapper input[type="submit"], .form-style input[type="submit"] {
  background-color: #FFC933;
  border: none;
  color: white;
  font-size: 18px;
  margin: auto;
  display: block;
  width: 100%;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 15px;
  transition: 350ms ease; }

.form-builder-wrapper input[type="submit"]:hover, .form-style input[type="submit"]:hover {
  background-color: #ffbc00; }

@media (max-width: 480px) {
  .form-builder-wrapper ul li, .form-style ul li {
    border: 0px; }
  .form-builder-wrapper .label-wrapper, .form-builder-wrapper .field-wrapper, .form-builder-wrapper #dates_required, .form-style .label-wrapper, .form-style .field-wrapper, .form-style #dates_required {
    display: block;
    width: 100%; }
  .form-builder-wrapper .label-wrapper label, .form-builder-wrapper .field-wrapper label, .form-builder-wrapper #dates_required label, .form-style .label-wrapper label, .form-style .field-wrapper label, .form-style #dates_required label {
    margin: 0px; }
  .form-builder-wrapper .li.btn-submit input, .form-style .li.btn-submit input {
    width: 100%; } }

.datepicker-icon,
.select-icon {
  width: auto !important;
  position: relative; }

.datepicker-icon:after,
.select-icon:after {
  content: "\F0EE";
  position: absolute;
  font: normal normal normal 18px/1 "Material Design Icons";
  left: 10px;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  color: #c4c4c4;
  pointer-events: none; }

.datepicker-icon .datepicker,
.select-icon .datepicker {
  padding-left: 25px; }

.select-icon {
  width: 75% !important; }

.select-icon:after {
  content: "\F140";
  left: inherit;
  right: 10px; }

.select-icon select {
  padding-right: 25px; }

@media (max-width: 767px) {
  .datepicker-icon,
  .select-icon {
    width: 100% !important; } }

* {
  outline: none;
  box-sizing: border-box; }

body, html {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  color: #555555;
  font-weight: 400;
  background: #ffffff; }

.body--fixed {
  overflow: hidden; }

a:not(.button) {
  color: #FFC933;
  text-decoration: none; }

a:not(.button):hover, a:not(.button):focus, a:not(.button):active {
  color: #e6a900;
  text-decoration: none; }

.lazy-img {
  transition: opacity 500ms ease-in-out;
  max-width: 100%;
  opacity: 0; }

.lazy-img.lazy-loaded {
  opacity: 1; }

h1 {
  font-size: 39px; }

@media (max-width: 767px) {
  h1 {
    font-size: 32px; } }

h2 {
  font-size: 34px; }

@media (max-width: 767px) {
  h2 {
    font-size: 28px; } }

h3 {
  font-size: 28px; }

@media (max-width: 767px) {
  h3 {
    font-size: 23px; } }

h4 {
  font-size: 20px; }

@media (max-width: 767px) {
  h4 {
    font-size: 16px; } }

h5 {
  font-size: 16px; }

@media (max-width: 767px) {
  h5 {
    font-size: 13px; } }

h6 {
  font-size: 14px; }

@media (max-width: 767px) {
  h6 {
    font-size: 12px; } }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0px; }

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px; }

table th,
table td {
  padding: 5px;
  vertical-align: top;
  border: 1px solid #efefef; }

table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #efefef; }

table tbody + tbody {
  border-top: 2px solid #efefef; }

table .table {
  background-color: #fff; }

.table-hover tbody tr:hover {
  background-color: #eee; }

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #eee; }

.content {
  color: #555555; }

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  padding-top: 10px;
  padding-bottom: 10px; }

.content p {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px; }

.content strong {
  font-weight: bold; }

.content em {
  font-style: italic; }

.content ul li {
  list-style: inside disc;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 1.5; }

.content ol li {
  list-style: inside decimal;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 1.5; }

.content a:not(.button) {
  color: #FFC933;
  font-weight: bold; }

/*--------------------------------------------------------------
2.0 Fonts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
ARROWS
--------------------------------------------------------------*/
@font-face {
  font-family: "Arrows";
  src: url("../fonts/Arrows.eot");
  src: url("../fonts/Arrows.eot?#iefix") format("embedded-opentype"), url("../fonts/Arrows.woff") format("woff"), url("../fonts/Arrows.ttf") format("truetype"), url("../fonts/Arrows.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Arrows";
    src: url("../fonts/Arrows.svg#Flaticon") format("svg"); } }

.arrows:before {
  display: inline-block;
  font-family: "Arrows";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.arrows-close:before {
  content: "\f100"; }

.arrows-down:before {
  content: "\f101"; }

.arrows-left:before {
  content: "\f102"; }

.arrows-right:before {
  content: "\f103"; }

.arrows-up:before {
  content: "\f104"; }

/*--------------------------------------------------------------
3.0 Plugins
--------------------------------------------------------------*/
body.fancybox-active {
  overflow: hidden; }

body.fancybox-iosfix {
  position: fixed;
  left: 0;
  right: 0; }

.fancybox-is-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden; }

.fancybox-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99992;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

.fancybox-outer,
.fancybox-inner,
.fancybox-bg,
.fancybox-stage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.fancybox-outer {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

.fancybox-bg {
  background: #1e1e1e;
  opacity: 0;
  transition-duration: inherit;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71); }

.fancybox-is-open .fancybox-bg {
  opacity: 0.87;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1); }

.fancybox-infobar,
.fancybox-toolbar,
.fancybox-caption-wrap {
  position: absolute;
  direction: ltr;
  z-index: 99997;
  opacity: 0;
  visibility: hidden;
  transition: opacity .25s, visibility 0s linear .25s;
  box-sizing: border-box; }

.fancybox-show-infobar .fancybox-infobar,
.fancybox-show-toolbar .fancybox-toolbar,
.fancybox-show-caption .fancybox-caption-wrap {
  opacity: 1;
  visibility: visible;
  transition: opacity .25s, visibility 0s; }

.fancybox-infobar {
  top: 0;
  left: 0;
  font-size: 13px;
  padding: 0 10px;
  height: 44px;
  min-width: 44px;
  line-height: 44px;
  color: #ccc;
  text-align: center;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased;
  mix-blend-mode: exclusion; }

.fancybox-toolbar {
  top: 0;
  right: 0;
  margin: 0;
  padding: 0; }

.fancybox-stage {
  overflow: hidden;
  direction: ltr;
  z-index: 99994;
  -webkit-transform: translate3d(0, 0, 0); }

.fancybox-is-closing .fancybox-stage {
  overflow: visible; }

.fancybox-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  outline: none;
  white-space: normal;
  box-sizing: border-box;
  text-align: center;
  z-index: 99994;
  -webkit-overflow-scrolling: touch;
  display: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition-property: transform, opacity; }

.fancybox-slide::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0; }

.fancybox-is-sliding .fancybox-slide,
.fancybox-slide--previous,
.fancybox-slide--current,
.fancybox-slide--next {
  display: block; }

.fancybox-slide--image {
  overflow: visible; }

.fancybox-slide--image::before {
  display: none; }

.fancybox-slide--video .fancybox-content,
.fancybox-slide--video iframe {
  background: #000; }

.fancybox-slide--map .fancybox-content,
.fancybox-slide--map iframe {
  background: #E5E3DF; }

.fancybox-slide--next {
  z-index: 99995; }

.fancybox-slide > * {
  display: inline-block;
  position: relative;
  padding: 24px;
  margin: 44px 0 44px;
  border-width: 0;
  vertical-align: middle;
  text-align: left;
  background-color: #fff;
  overflow: auto;
  box-sizing: border-box; }

.fancybox-slide > title,
.fancybox-slide > style,
.fancybox-slide > meta,
.fancybox-slide > link,
.fancybox-slide > script,
.fancybox-slide > base {
  display: none; }

.fancybox-slide .fancybox-image-wrap {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 99995;
  background: transparent;
  cursor: default;
  overflow: visible;
  -ms-transform-origin: top left;
  transform-origin: top left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition-property: transform, opacity; }

.fancybox-can-zoomOut .fancybox-image-wrap {
  cursor: zoom-out; }

.fancybox-can-zoomIn .fancybox-image-wrap {
  cursor: zoom-in; }

.fancybox-can-drag .fancybox-image-wrap {
  cursor: -webkit-grab;
  cursor: grab; }

.fancybox-is-dragging .fancybox-image-wrap {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.fancybox-image,
.fancybox-spaceball {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  max-width: none;
  max-height: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.fancybox-spaceball {
  z-index: 1; }

.fancybox-slide--iframe .fancybox-content {
  padding: 0;
  width: 80%;
  height: 80%;
  max-width: calc(100% - 100px);
  max-height: calc(100% - 88px);
  overflow: visible;
  background: #fff; }

.fancybox-iframe {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  background: #fff; }

.fancybox-error {
  margin: 0;
  padding: 40px;
  width: 100%;
  max-width: 380px;
  background: #fff;
  cursor: default; }

.fancybox-error p {
  margin: 0;
  padding: 0;
  color: #444;
  font-size: 16px;
  line-height: 20px; }

/* Buttons */
.fancybox-button {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 44px;
  height: 44px;
  margin: 0;
  padding: 10px;
  border: 0;
  border-radius: 0;
  background: rgba(30, 30, 30, 0.6);
  transition: color .3s ease;
  cursor: pointer;
  outline: none; }

.fancybox-button,
.fancybox-button:visited,
.fancybox-button:link {
  color: #ccc; }

.fancybox-button:focus,
.fancybox-button:hover {
  color: #fff; }

.fancybox-button[disabled] {
  color: #ccc;
  cursor: default;
  opacity: 0.6; }

.fancybox-button svg {
  display: block;
  position: relative;
  overflow: visible;
  shape-rendering: geometricPrecision; }

.fancybox-button svg path {
  fill: currentColor;
  stroke: currentColor;
  stroke-linejoin: round;
  stroke-width: 3; }

.fancybox-button--share svg path {
  stroke-width: 1; }

.fancybox-button--play svg path:nth-child(2) {
  display: none; }

.fancybox-button--pause svg path:nth-child(1) {
  display: none; }

.fancybox-button--zoom svg path {
  fill: transparent; }

/* Navigation arrows */
.fancybox-navigation {
  display: none; }

.fancybox-show-nav .fancybox-navigation {
  display: block; }

.fancybox-navigation button {
  position: absolute;
  top: 50%;
  margin: -50px 0 0 0;
  z-index: 99997;
  background: transparent;
  width: 60px;
  height: 100px;
  padding: 17px; }

.fancybox-navigation button:before {
  content: "";
  position: absolute;
  top: 30px;
  right: 10px;
  width: 40px;
  height: 40px;
  background: rgba(30, 30, 30, 0.6); }

.fancybox-navigation .fancybox-button--arrow_left {
  left: 0; }

.fancybox-navigation .fancybox-button--arrow_right {
  right: 0; }

/* Close button on the top right corner of html content */
.fancybox-close-small {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  z-index: 10;
  cursor: pointer; }

.fancybox-close-small:after {
  content: '×';
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  font: 22px/30px Arial,"Helvetica Neue",Helvetica,sans-serif;
  color: #888;
  font-weight: 300;
  text-align: center;
  border-radius: 50%;
  border-width: 0;
  background-color: transparent;
  transition: background-color .25s;
  box-sizing: border-box;
  z-index: 2; }

.fancybox-close-small:focus {
  outline: none; }

.fancybox-close-small:focus:after {
  outline: 1px dotted #888; }

.fancybox-close-small:hover:after {
  color: #555;
  background: #eee; }

.fancybox-slide--image .fancybox-close-small,
.fancybox-slide--iframe .fancybox-close-small {
  top: 0;
  right: -40px; }

.fancybox-slide--image .fancybox-close-small:after,
.fancybox-slide--iframe .fancybox-close-small:after {
  font-size: 35px;
  color: #aaa; }

.fancybox-slide--image .fancybox-close-small:hover:after,
.fancybox-slide--iframe .fancybox-close-small:hover:after {
  color: #fff;
  background: transparent; }

.fancybox-is-scaling .fancybox-close-small,
.fancybox-is-zoomable.fancybox-can-drag .fancybox-close-small {
  display: none; }

/* Caption */
.fancybox-caption-wrap {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 60px 2vw 0 2vw;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.8) 100%);
  pointer-events: none; }

.fancybox-caption {
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  -webkit-text-size-adjust: none; }

.fancybox-caption a,
.fancybox-caption button,
.fancybox-caption select {
  pointer-events: all;
  position: relative;
  /* Fix IE11 */ }

.fancybox-caption a {
  color: #fff;
  text-decoration: underline; }

/* Loading indicator */
.fancybox-slide > .fancybox-loading {
  border: 6px solid rgba(100, 100, 100, 0.4);
  border-top: 6px solid rgba(255, 255, 255, 0.6);
  border-radius: 100%;
  height: 50px;
  width: 50px;
  animation: fancybox-rotate .8s infinite linear;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  z-index: 99999; }

@keyframes fancybox-rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

/* Transition effects */
.fancybox-animated {
  transition-timing-function: cubic-bezier(0, 0, 0.25, 1); }

/* transitionEffect: slide */
.fancybox-fx-slide.fancybox-slide--previous {
  transform: translate3d(-100%, 0, 0);
  opacity: 0; }

.fancybox-fx-slide.fancybox-slide--next {
  transform: translate3d(100%, 0, 0);
  opacity: 0; }

.fancybox-fx-slide.fancybox-slide--current {
  transform: translate3d(0, 0, 0);
  opacity: 1; }

/* transitionEffect: fade */
.fancybox-fx-fade.fancybox-slide--previous,
.fancybox-fx-fade.fancybox-slide--next {
  opacity: 0;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }

.fancybox-fx-fade.fancybox-slide--current {
  opacity: 1; }

/* transitionEffect: zoom-in-out */
.fancybox-fx-zoom-in-out.fancybox-slide--previous {
  transform: scale3d(1.5, 1.5, 1.5);
  opacity: 0; }

.fancybox-fx-zoom-in-out.fancybox-slide--next {
  transform: scale3d(0.5, 0.5, 0.5);
  opacity: 0; }

.fancybox-fx-zoom-in-out.fancybox-slide--current {
  transform: scale3d(1, 1, 1);
  opacity: 1; }

/* transitionEffect: rotate */
.fancybox-fx-rotate.fancybox-slide--previous {
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg);
  opacity: 0; }

.fancybox-fx-rotate.fancybox-slide--next {
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  opacity: 0; }

.fancybox-fx-rotate.fancybox-slide--current {
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 1; }

/* transitionEffect: circular */
.fancybox-fx-circular.fancybox-slide--previous {
  transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
  opacity: 0; }

.fancybox-fx-circular.fancybox-slide--next {
  transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
  opacity: 0; }

.fancybox-fx-circular.fancybox-slide--current {
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  opacity: 1; }

/* transitionEffect: tube */
.fancybox-fx-tube.fancybox-slide--previous {
  transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg); }

.fancybox-fx-tube.fancybox-slide--next {
  transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg); }

.fancybox-fx-tube.fancybox-slide--current {
  transform: translate3d(0, 0, 0) scale(1); }

/* Share */
.fancybox-share {
  padding: 30px;
  border-radius: 3px;
  background: #f4f4f4;
  max-width: 90%;
  text-align: center; }

.fancybox-share h1 {
  color: #222;
  margin: 0 0 20px 0;
  font-size: 35px;
  font-weight: 700; }

.fancybox-share p {
  margin: 0;
  padding: 0; }

p.fancybox-share__links {
  margin-right: -10px; }

.fancybox-share__button {
  display: inline-block;
  text-decoration: none;
  margin: 0 10px 10px 0;
  padding: 0 15px;
  min-width: 130px;
  border: 0;
  border-radius: 3px;
  background: #fff;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  transition: all .2s; }

.fancybox-share__button:hover {
  text-decoration: none; }

.fancybox-share__button--fb {
  background: #3b5998; }

.fancybox-share__button--fb:hover {
  background: #344e86; }

.fancybox-share__button--pt {
  background: #bd081d; }

.fancybox-share__button--pt:hover {
  background: #aa0719; }

.fancybox-share__button--tw {
  background: #1da1f2; }

.fancybox-share__button--tw:hover {
  background: #0d95e8; }

.fancybox-share__button svg {
  position: relative;
  top: -1px;
  width: 25px;
  height: 25px;
  margin-right: 7px;
  vertical-align: middle; }

.fancybox-share__button svg path {
  fill: #fff; }

.fancybox-share__input {
  box-sizing: border-box;
  width: 100%;
  margin: 10px 0 0 0;
  padding: 10px 15px;
  background: transparent;
  color: #5d5b5b;
  font-size: 14px;
  outline: none;
  border: 0;
  border-bottom: 2px solid #d7d7d7; }

/* Thumbs */
.fancybox-thumbs {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 212px;
  margin: 0;
  padding: 2px 2px 4px 2px;
  background: #fff;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  box-sizing: border-box;
  z-index: 99995; }

.fancybox-thumbs-x {
  overflow-y: hidden;
  overflow-x: auto; }

.fancybox-show-thumbs .fancybox-thumbs {
  display: block; }

.fancybox-show-thumbs .fancybox-inner {
  right: 212px; }

.fancybox-thumbs > ul {
  list-style: none;
  position: absolute;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0;
  white-space: nowrap; }

.fancybox-thumbs-x > ul {
  overflow: hidden; }

.fancybox-thumbs-y > ul::-webkit-scrollbar {
  width: 7px; }

.fancybox-thumbs-y > ul::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

.fancybox-thumbs-y > ul::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px; }

.fancybox-thumbs > ul > li {
  float: left;
  overflow: hidden;
  padding: 0;
  margin: 2px;
  width: 100px;
  height: 75px;
  max-width: calc(50% - 4px);
  max-height: calc(100% - 8px);
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box; }

li.fancybox-thumbs-loading {
  background: rgba(0, 0, 0, 0.1); }

.fancybox-thumbs > ul > li > img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: none;
  max-height: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.fancybox-thumbs > ul > li:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 4px solid #4ea7f9;
  z-index: 99991;
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.fancybox-thumbs > ul > li.fancybox-thumbs-active:before {
  opacity: 1; }

/* Styling for Small-Screen Devices */
@media all and (max-width: 800px) {
  .fancybox-thumbs {
    width: 110px; }
  .fancybox-show-thumbs .fancybox-inner {
    right: 110px; }
  .fancybox-thumbs > ul > li {
    max-width: calc(100% - 10px); } }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }

.slick-track:before, .slick-track:after {
  content: "";
  display: table; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }

[dir="rtl"] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent; }

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25; }

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px; }

.slick-prev:before {
  content: "←"; }

[dir="rtl"] .slick-prev:before {
  content: "→"; }

.slick-next {
  right: -25px; }

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto; }

.slick-next:before {
  content: "→"; }

[dir="rtl"] .slick-next:before {
  content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer; }

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75; }

.slinky-menu {
  overflow: hidden;
  transform: translateZ(0);
  transition: all .3s ease;
  background: #AAA; }

.slinky-menu > ul {
  left: 0;
  position: relative;
  transform: translateZ(0);
  transition: all .3s ease; }

.slinky-menu li, .slinky-menu ul {
  list-style: none;
  margin: 0; }

.slinky-menu ul {
  width: 100%; }

.slinky-menu a {
  display: block;
  border: none;
  color: #FFF;
  padding: 1em; }

.slinky-menu li ul {
  display: none;
  left: 100%;
  position: absolute;
  top: 0; }

.slinky-menu .header {
  position: relative; }

.slinky-menu h2 ~ a.back {
  left: 0;
  position: absolute;
  top: 0; }

.slinky-menu h2 {
  font-size: 1em;
  margin: 0;
  text-align: center;
  color: #FFF;
  padding: 1em; }

.slinky-menu li {
  line-height: 1; }

.slinky-menu a:hover {
  background: #000; }

.slinky-menu a.next:after {
  content: '\276f';
  margin-left: 1em;
  float: right; }

.slinky-menu a.back:before {
  content: '\276e';
  margin-right: 1em;
  float: left; }

/*--------------------------------------------------------------
4.0 Layout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.0 Components
--------------------------------------------------------------*/
.button {
  position: relative;
  display: inline-block;
  min-width: 140px;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  color: #FFFFFF;
  border: 1px solid #FFC933;
  background-color: #FFC933;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transition: all 250ms linear; }

.button.button--small {
  min-width: 98px;
  height: 35px;
  line-height: 33px;
  font-size: 14px; }

.button.button--large {
  min-width: 182px;
  height: 65px;
  line-height: 65px;
  font-size: 20px; }

.button:hover {
  border-color: #ffbc00;
  background-color: #ffbc00; }

.button:hover.button--outline {
  color: #ffbc00;
  background: transparent; }

.button--round {
  border-radius: 5px; }

.button--round-full {
  border-radius: 100px; }

.button--outline {
  color: #FFC933;
  background: transparent; }

.disabled,
[disabled] {
  border-color: #CCCCCC;
  background-color: #CCCCCC;
  cursor: default;
  pointer-events: none; }

.disabled.button--outline,
[disabled].button--outline {
  color: #CCCCCC;
  border-color: #CCCCCC;
  background: transparent; }

.button--primary {
  background-color: #FFC933;
  border-color: #FFC933; }

.button--primary.button--outline {
  color: #FFC933;
  background: transparent; }

.button--primary:hover {
  border-color: #ffbc00;
  background-color: #ffbc00; }

.button--primary:hover.button--outline {
  color: white;
  background: #ffbc00; }

.button--secondary {
  background-color: #72a9a3;
  border-color: #72a9a3; }

.button--secondary.button--outline {
  color: #72a9a3;
  background: transparent; }

.button--secondary:hover {
  border-color: #58908a;
  background-color: #58908a; }

.button--secondary:hover.button--outline {
  color: white;
  background: #58908a; }

.button--book {
  background-color: #FFC933;
  border-color: #FFC933; }

.button--book.button--outline {
  color: #FFC933;
  background: transparent; }

.button--book:hover {
  border-color: #ffbc00;
  background-color: #ffbc00; }

.button--book:hover.button--outline {
  color: white;
  background: #ffbc00; }

.button--cal-header-bg {
  background-color: #FFC933;
  border-color: #FFC933; }

.button--cal-header-bg.button--outline {
  color: #FFC933;
  background: transparent; }

.button--cal-header-bg:hover {
  border-color: #ffbc00;
  background-color: #ffbc00; }

.button--cal-header-bg:hover.button--outline {
  color: white;
  background: #ffbc00; }

.button--cal-header-txt {
  background-color: #fff;
  border-color: #fff; }

.button--cal-header-txt.button--outline {
  color: #fff;
  background: transparent; }

.button--cal-header-txt:hover {
  border-color: #e6e6e6;
  background-color: #e6e6e6; }

.button--cal-header-txt:hover.button--outline {
  color: white;
  background: #e6e6e6; }

.button--cal-active {
  background-color: #e6a900;
  border-color: #e6a900; }

.button--cal-active.button--outline {
  color: #e6a900;
  background: transparent; }

.button--cal-active:hover {
  border-color: #b38300;
  background-color: #b38300; }

.button--cal-active:hover.button--outline {
  color: white;
  background: #b38300; }

.button--cal-hover {
  background-color: #ffc21a;
  border-color: #ffc21a; }

.button--cal-hover.button--outline {
  color: #ffc21a;
  background: transparent; }

.button--cal-hover:hover {
  border-color: #e6a900;
  background-color: #e6a900; }

.button--cal-hover:hover.button--outline {
  color: white;
  background: #e6a900; }

.button--error {
  background-color: #AF0000;
  border-color: #AF0000; }

.button--error.button--outline {
  color: #AF0000;
  background: transparent; }

.button--error:hover {
  border-color: #7c0000;
  background-color: #7c0000; }

.button--error:hover.button--outline {
  color: white;
  background: #7c0000; }

.button--gray-lighter {
  background-color: #DDD;
  border-color: #DDD; }

.button--gray-lighter.button--outline {
  color: #DDD;
  background: transparent; }

.button--gray-lighter:hover {
  border-color: #c4c4c4;
  background-color: #c4c4c4; }

.button--gray-lighter:hover.button--outline {
  color: white;
  background: #c4c4c4; }

.button--gray-darker {
  background-color: #555555;
  border-color: #555555; }

.button--gray-darker.button--outline {
  color: #555555;
  background: transparent; }

.button--gray-darker:hover {
  border-color: #3c3c3c;
  background-color: #3c3c3c; }

.button--gray-darker:hover.button--outline {
  color: white;
  background: #3c3c3c; }

.button--gray-bg {
  background-color: #f7f7f7;
  border-color: #f7f7f7; }

.button--gray-bg.button--outline {
  color: #f7f7f7;
  background: transparent; }

.button--gray-bg:hover {
  border-color: #dddddd;
  background-color: #dddddd; }

.button--gray-bg:hover.button--outline {
  color: white;
  background: #dddddd; }

.button--white {
  background-color: white;
  border-color: white; }

.button--white.button--outline {
  color: white;
  background: transparent; }

.button--white:hover {
  border-color: #e6e6e6;
  background-color: #e6e6e6; }

.button--white:hover.button--outline {
  color: white;
  background: #e6e6e6; }

.button--black {
  background-color: black;
  border-color: black; }

.button--black.button--outline {
  color: black;
  background: transparent; }

.button--black:hover {
  border-color: black;
  background-color: black; }

.button--black:hover.button--outline {
  color: white;
  background: black; }

.icon--right,
.icon--left {
  padding-left: 30px; }

.icon--right i,
.icon--left i {
  position: absolute;
  left: 10px;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%); }

.icon--right {
  padding-left: 10px;
  padding-right: 30px; }

.icon--right i {
  left: auto;
  right: 10px; }

.nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px; }

.nav ul li {
  padding: 5px 20px;
  float: left; }

.nav ul li a {
  font-size: 1.125rem; }

@media (max-width: 1240px) {
  .nav ul li a {
    font-size: 1rem; } }

@media (max-width: 1024px) {
  .nav ul li a {
    font-size: 1.125rem; } }

.nav ul li ul {
  display: none; }

.fancybox-slide--iframe .fancybox-close-small {
  top: -44px;
  right: 0px; }

.fancybox-arrow[disabled] {
  background: transparent; }

@media all and (min-width: 800px) {
  .fancybox-thumbs {
    top: auto;
    width: auto;
    bottom: 0;
    left: 0;
    right: 0;
    height: 95px;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3); }
  .fancybox-thumbs ul {
    height: auto; }
  .fancybox-show-thumbs .fancybox-inner {
    right: 0;
    bottom: 95px; }
  .fancybox-thumbs > ul > li:before {
    border-color: #72a9a3; } }

.ui-datepicker .ui-datepicker-prev span:before {
  content: "\f104 "; }

.ui-datepicker .ui-datepicker-next span:before {
  content: "\f105 "; }

.ui-datepicker .ui-datepicker-prev span {
  content: " " !important;
  color: #fff; }

.ui-datepicker .ui-datepicker-prev span:before,
.ui-datepicker .ui-datepicker-next span:before {
  color: #fff;
  display: block;
  font-family: FontAwesome;
  font-size: 19px;
  padding: 0 5px;
  text-align: center; }

.ui-datepicker .ui-datepicker-header {
  background: #FFC933;
  border: 0 none;
  padding: 1em 0;
  position: relative; }

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  background-image: none;
  opacity: 0.35; }

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  background-image: none;
  opacity: 0.35; }

.ui-datepicker a {
  font-weight: normal !important; }

.ui-widget-header .ui-icon {
  background-image: none !important; }

.ui-corner-all {
  border: 0 none !important;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px; }

.ui-datepicker-close,
.ui-datepicker-close:hover,
.ui-datepicker-close:active,
.ui-datepicker-close:focus {
  display: inline-block !important;
  background: none !important;
  font-family: 'Open Sans', Arial, sans-serif !important;
  text-transform: uppercase !important;
  color: #505c76 !important;
  font-size: 12px !important;
  padding: 12px 13px 9px !important;
  width: 90% !important;
  margin-top: 0px !important;
  border-top: 1px solid #ddd !important;
  margin-right: 15px !important; }

html.ie8 .ui-datepicker-close,
html.ie9 .ui-datepicker-close {
  display: none !important; }

.ui-widget {
  font-family: inherit !important; }

.ui-datepicker {
  display: none;
  padding: 0;
  margin: 5px 0;
  width: 20em;
  border-radius: 0; }

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid #C8ECFA;
  font-weight: bold;
  color: #333; }

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid #00ACEE;
  background: #fff;
  color: #666; }

.ui-datepicker table {
  background: none repeat scroll 0 0 #fff;
  border-color: white;
  border-style: solid;
  border-width: 10px 20px 20px;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  font-size: 0.9em;
  width: 100%; }

.ui-datepicker td, .ui-datepicker th {
  min-width: 30px; }

.ui-datepicker th {
  color: #999;
  text-transform: uppercase;
  border: 0 none;
  font-weight: bold;
  padding: 0.7em 0.3em;
  text-align: center; }

.ui-datepicker th span {
  border-bottom: 1px solid #e6e6e6;
  display: block;
  padding: 0.7em 0 1em; }

.ui-datepicker th td {
  border: 0 none; }

.ui-state-disabled {
  cursor: default !important; }

.ui-datepicker-calendar .ui-state-default {
  border: 1px solid #fff;
  border-radius: 2px;
  color: #999;
  text-align: center;
  background: none repeat scroll 0 0 #fff;
  padding: 7px; }

.ui-datepicker td span, .ui-datepicker td a {
  display: block;
  padding: 0.2em;
  text-align: right;
  text-decoration: none; }

.ui-datepicker .ui-datepicker-title {
  line-height: 1.8em;
  margin: 0 2.3em;
  text-align: center; }

.ui-datepicker .ui-datepicker-title {
  color: #fff;
  font-size: 1.3em;
  font-weight: 300; }

.ui-datepicker .ui-datepicker-buttonpane {
  margin: 0;
  padding: 0; }

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  height: 1.8em;
  position: absolute;
  width: 1.8em;
  top: 15px;
  overflow: hidden; }

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 0px solid #999999;
  background: rgba(176, 154, 85, 0.66);
  font-weight: normal;
  color: #212121; }

.ui-widget {
  font-size: 1.1em; }

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  background-color: transparent;
  border: 0 none;
  cursor: pointer; }

.ui-datepicker .ui-datepicker-next {
  right: 8px; }

.ui-datepicker .ui-datepicker-prev {
  left: 8px; }

.ui-datepicker .ui-datepicker-prev-hover {
  left: 0px; }

.ui-datepicker .ui-datepicker-next-hover {
  top: 15px !important;
  right: 8px; }

#ui-datepicker-div {
  background: #fff none repeat scroll 0 0;
  border: 5px solid #DDD !important;
  width: 295px !important;
  z-index: 99111 !important; }

#ui-datepicker-div .ui-datepicker-current {
  display: none !important; }

#ui-datepicker-div .ui-state-active {
  font-weight: bold; }

#ui-datepicker-div a.ui-state-default {
  color: #555555; }

#ui-datepicker-div .ui-icon {
  border: 0px;
  margin-top: -6px;
  overflow: hidden;
  text-indent: 0;
  height: 35px;
  width: 35px;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border: 0px solid #fff;
  cursor: pointer; }

#ui-datepicker-div .ui-icon:before {
  color: #fff !important;
  font-size: 22px; }

#ui-datepicker-div .ui-icon:hover {
  color: #272727;
  border: 0px;
  background-color: transparent;
  margin-top: -5px; }

#ui-datepicker-div .ui-icon:hover:before {
  color: #fff !important; }

#ui-datepicker-div .ui-icon i {
  color: #fff;
  display: block;
  font-size: 21px;
  padding: 7px 11px; }

@media (max-width: 360px) {
  #ui-datepicker-div {
    width: 265px !important; }
  #ui-datepicker-div .ui-datepicker-header {
    padding: 0.8em 0; }
  #ui-datepicker-div .ui-datepicker-calendar {
    border-width: 0px !important; } }

.ui-widget-content {
  background: #ffffff;
  color: #222222;
  border: 0 none !important; }

.ui-widget-content table.ui-datepicker-calendar .ui-state-active {
  background: #e6a900;
  color: #fff !important;
  border-radius: 4px; }

.ui-widget-content table.ui-datepicker-calendar .ui-state-hover {
  background: #ffc21a !important;
  color: #fff !important;
  border-radius: 4px; }

.carousel .slick-dots {
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: center;
      justify-content: center; }

.carousel .slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.carousel .slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  cursor: pointer; }

.carousel .slick-dots li button:hover, .carousel .slick-dots li button:focus {
  outline: none; }

.carousel .slick-dots li button:hover:before, .carousel .slick-dots li button:focus:before {
  opacity: 1; }

.carousel .slick-dots li button:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  content: '';
  width: 8px;
  height: 8px;
  opacity: .5;
  background: #888888;
  border-radius: 50%;
  transition: all .5s ease-in-out; }

.carousel .slick-dots li.slick-active button:before {
  background: #72a9a3;
  opacity: 1;
  width: 14px;
  height: 14px; }

.carousel__nav {
  color: white;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  font-size: 2.5rem;
  cursor: pointer;
  transition: all .3s ease-in-out; }

.carousel__nav:hover {
  background: rgba(0, 0, 0, 0.5); }

@media (max-width: 767px) {
  .carousel__nav {
    font-size: 1.5rem; } }

.carousel__nav--prev {
  left: 0px; }

.carousel__nav--next {
  right: 0px; }

.cc-revoke,
.cc-window,
.cc-message {
  font-family: "Open Sans", sans-serif !important;
  font-size: 12px !important; }

.cc-window.cc-floating {
  max-width: 100% !important; }

.cc-theme-edgeless.cc-window {
  width: 100% !important;
  top: 0px !important; }

.cc-floating.cc-theme-edgeless .cc-message {
  margin: 1em 2em 1em !important;
  line-height: 1.35; }

.cc-link {
  padding: 0px !important; }

.cc-btn {
  transition: all .3s ease-in-out; }

.cc-btn:hover {
  color: white !important; }

.sitemap ul {
  margin: 0px; }

.sitemap ul li {
  padding: 10px;
  border: 1px solid #ccc;
  border-left: 6px solid #959595;
  margin: 10px;
  list-style: none; }

.sitemap ul li a {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase; }

.sitemap ul ul li {
  border-left: 4px solid #afafaf;
  background: #f5f5f5; }

.sitemap ul ul li a {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: #6c5f2e; }

.sitemap ul ul li ul li {
  border-left: 4px solid #bbbbbb;
  background: #e4e4e4; }

.sitemap ul ul li ul li a {
  font-size: 12px;
  font-weight: 400;
  text-transform: normal;
  color: #666; }
