@@include('head.html')

<!-- Remove this style when start the project -->
<link rel="stylesheet" href="files/css/reference.min.css">

<body>

<!-- BODY WRAPPER - CLOSES ON FOOTER INLCLUDE - USED FOR COOKIES MESSAGE -->
<div class="body__wrapper">

	<div class="container project-init">

		<div>
			<h1>Master Folder Structure <span class="badge badge--success">3.0</span></h1>
			<ul>
				<li>See the <strong>READMORE.md</strong> file for instructions</li>
				<li>See the  <a href="#">Repository</a> <span class="badge badge--warning">Soon</span></li>
				<li>See all our <a href="https://components.cms.netaffinity.com/">Components</a></li>
			</ul>
		</div>

		<div>
			<img src="files/images/netaffinity-logo.svg" width="250" alt="">
		</div>

	</div>


@@include('footer.html')
