@@include('head.html')

<link rel="stylesheet" href="files/css/reference.min.css">

<body>

	<section class="content reference-page reference-page--intro">
		<div class="content__wrap">
			<h1><strong>Reference</strong> Page</h1>
			<a class="button button--secondary" href="#style-guide">Style Guide</a>
			<a class="button button--secondary" href="#project-components">Project Components</a>
		</div>
	</section>


	<section class="content reference-page" id="style-guide">

	  <div class="container">
	    <div class="content__wrap">

	      <h1 class="ref-title center">TEMPLATE STYLE GUIDE</h1>
				<div class="component">
					<p>The purpose of this HTML is to help determine what default settings are with CSS and to make sure that all possible HTML Elements are included in this HTML so as to not miss any possible Elements when designing a site.</p>
				</div>

				<br/><br/>


	      <h1 class="ref-title">Typography</h1>
				<div class="component">
					<div class="component__grid">
			      <div class="component__item component__item--card">
							<h1>h1.Heading</h1>
			      	<h1><strong>h1.HeadingBold</strong></h1>
			      	<h1><em>h1.HeadingItalic</em></h1>
						</div>

			      <div class="component__item component__item--card">
							<h2>h2.Heading</h2>
			      	<h2><strong>h2.HeadingBold</strong></h2>
			      	<h2><em>h2.HeadingItalic</em></h2>
						</div>

			      <div class="component__item component__item--card">
							<h3>h3.Heading</h3>
			      	<h3><strong>h3.HeadingBold</strong></h3>
			      	<h3><em>h3.HeadingItalic</em></h3>
						</div>

			      <div class="component__item component__item--card">
							<h4>h4.Heading</h4>
			      	<h4><strong>h4.HeadingBold</strong></h4>
			      	<h4><em>h4.HeadingItalic</em></h4>
						</div>

			      <div class="component__item component__item--card">
							<h5>h5.Heading</h5>
			      	<h5><strong>h5.HeadingBold</strong></h5>
			      	<h5><em>h5.HeadingItalic</em></h5>
						</div>

			      <div class="component__item component__item--card">
							<h6>h6.Heading</h6>
			      	<h6><strong>h6.HeadingBold</strong></h6>
			      	<h6><em>h6.HeadingItalic</em></h6>
						</div>
					</div>

		      <h1 >h1.Paragraph</h1>
		      <p>p.Lorem ipsum dolor sit amet, <a title="test link" href="#">this is a link</a> adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed <em>This is an italic item</em> fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.</p>
		      <p>p.Lorem ipsum dolor sit amet, <em>emphasis</em> consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget <strong>This is a bold item</strong> fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.</p>
		    </div>


	      <h1 class="ref-title">Icons</h1>
				<p>The main icon library is Material Design Icons. <a href="https://materialdesignicons.com/">Click Here</a> to see all the icons available.</p>
				<div class="component">
					<div class="component__grid center">
			      <div class="component__item component__item--card">
				      <i class="mdi mdi-calendar-blank mdi-48px"></i>
							<br><span>.mdi-calendar-blank</span>
						</div>

			      <div class="component__item component__item--card">
				      <i class="mdi mdi-calendar-check mdi-48px"></i>
							<br><span>.mdi-calendar-check</span>
						</div>

			      <div class="component__item component__item--card">
				      <i class="mdi mdi-menu mdi-48px"></i>
							<br><span>.mdi-menu</span>
						</div>

			      <div class="component__item component__item--card">
				      <i class="mdi mdi-close mdi-48px"></i>
							<br><span>.mdi-close</span>
						</div>

			      <div class="component__item component__item--card">
				      <i class="mdi mdi-sale mdi-48px"></i>
							<br><span>.mdi-sale</span>
						</div>

			      <div class="component__item component__item--card">
				      <i class="mdi mdi-check mdi-48px"></i>
							<br><span>.mdi-check</span>
						</div>
					</div>
				</div>


	      <h1 class="ref-title">List Types</h1>
				<div class="component">
					<div class="component__grid center">

			      <div class="component__item component__item--card">
							<h5 class="uppercase"><strong>Ordered List</strong></h5>
				      <ol >
				        <li>List Item 1</li>
				        <li>List Item 2</li>
				        <li>List Item 3</li>
				      </ol>
						</div>

						<div class="component__item component__item--card">
							<h5 class="uppercase"><strong>Unordered List</strong></h5>
				      <ul>
				        <li>List Item 1</li>
				        <li>List Item 2</li>
				        <li >List Item 3</li>
				      </ul>
						</div>
					</div>
				</div>


				<h1 class="ref-title">Buttons</h1>
				<div class="component">
					<h5 class="uppercase"><strong>Size Variation</strong></h5>
			    <div class="component__item">
			      <a href="#" class="button button--small">Small</a>
			      <a href="#" class="button ">Button</a>
			      <a href="#" class="button button--large">Large Button</a>
			    </div>

					<h5 class="uppercase"><strong>Border Radius Variation</strong></h5>
			    <div class="component__item">
			      <a href="#" class="button ">Button</a>
			      <a href="#" class="button button--round">Button</a>
			      <a href="#" class="button button--round-full">Button</a>
					</div>

					<h5 class="uppercase"><strong>Color Variation</strong></h5>
			    <div class="component__item">
			      <a href="#" class="button button--primary">Primary</a>
			      <a href="#" class="button button--secondary">Secondary</a>
					</div>

					<h5 class="uppercase"><strong>Outlined</strong></h5>
					<div class="component__item">
			      <a href="#" class="button button--outline">Button</a>
			      <a href="#" class="button button--round button--outline">Button</a>
			      <a href="#" class="button button--round-full button--outline">Button</a>
			      <a href="#" class="button button--secondary button--outline">Button</a>
						<a href="#" class="button button--secondary button--round button--outline">Button</a>
			      <a href="#" class="button button--secondary button--round-full button--outline">Button</a>
			    </div>

					<h5 class="uppercase"><strong>Disabled</strong></h5>
			    <div class="component__item">
			      <a href="#" class="button disabled" disabled>Button</a>
			      <a href="#" class="button button--round disabled" disabled>Button</a>
			      <a href="#" class="button button--round-full disabled" disabled>Button</a>

			      <a href="#" class="button button--outline disabled" disabled>Button</a>
			      <a href="#" class="button button--round button--outline disabled" disabled>Button</a>
			      <a href="#" class="button button--round-full button--outline disabled" disabled>Button</a>
			    </div>

			    <h5 class="uppercase"><strong>Icon</strong></h5>
			    <div class="component__item">
			      <a href="#" class="button icon--left">
			        <i class="mdi mdi-heart"></i> Button
			      </a>
			      <a href="#" class="button icon--right">
			       Button <i class="mdi mdi-heart"></i>
			      </a>
						<br/><br/>
			      <a href="#" class="button button--round icon--left">
			        <i class="mdi mdi-heart"></i> Button
			      </a>
			      <a href="#" class="button button--round icon--right">
			       Button <i class="mdi mdi-heart"></i>
			      </a>
						<br/><br/>
			      <a href="#" class="button button--round-full icon--left">
			        <i class="mdi mdi-heart"></i> Button
			      </a>
			      <a href="#" class="button button--round-full icon--right">
			       Button <i class="mdi mdi-heart"></i>
			      </a>
			    </div>
				</div>


	      <h1 class="ref-title">Colors</h1>
				<div class="component">
					<h5 class="uppercase"><strong>Layout Colors</strong></h5>
					<div class="color__list">
						<div class="color__item component__item--card">
							<div class="color__block color--primary"></div>
							<h5>$primary-color</h5>
							<span>Main Brand Color</span>
						</div>
						<div class="color__item component__item--card">
							<div class="color__block color--secondary"></div>
							<h5>$secondary-color</h5>
							<span>Complementary Brand Color</span>
						</div>
						<div class="color__item component__item--card">
							<div class="color__block color--white"></div>
							<h5>white</h5>
							<!-- <span>Complementary Brand Color</span> -->
						</div>
					</div>
<!--
					<h5 class="uppercase"><strong>Booking & Calendar Related Colors</strong></h5>
					<div class="color__list">
						<div class="color__item component__item--card">
							<div class="color__block color--book"></div>
							<h5>$book-btn-color</h5>
							<span>Book Now Button Color<br> ($primary-color)</span>
						</div>
						<div class="color__item component__item--card">
							<div class="color__block color--cal-header-bg"></div>
							<h5>$calendar-head-bg</h5>
							<span>Background Color on Calendar Header <br> ($primary-color)</span>
						</div>
						<div class="color__item component__item--card">
							<div class="color__block color--cal-header-txt"></div>
							<h5>$calendar-head-txt</h5>
							<span>Text Color on Calendar Header</span>
						</div>

						<div class="color__item component__item--card">
							<div class="color__block color--cal-active"></div>
							<h5>$calendar-active-color</h5>
							<span>Active Color on Calendar Header <br> ($primary-color 15% darker)</span>
						</div>
						<div class="color__item component__item--card">
							<div class="color__block color--cal-hover"></div>
							<h5>$calendar-hover-color</h5>
							<span>Hover Color on Calendar Header <br> ($primary-color 5% darker) </span>
						</div>
					</div> -->

					<h5 class="uppercase"><strong>Status</strong></h5>
					<div class="color__list">
						<div class="color__item component__item--card">
							<div class="color__block color--error"></div>
							<h5>$error-color</h5>
							<span>Form Error Color</span>
						</div>
					</div>
				</div>


	      <h1 class="ref-title" >Tables</h1>
				<div class="component">
					<h5><strong>Basic Table</strong></h5>
		      <table>
		        <thead>
		          <tr><th>#</th><th>First Name</th><th>Last Name</th><th>Instrument</th></tr>
		        </thead>
		        <tbody>
		          <tr><th>1</th>
		            <td>John</td>
		            <td>Lennon</td>
		            <td>Guitar</td>
		          </tr>
		          <tr><th>2</th>
		            <td>Paul</td>
		            <td>McCartney</td>
		            <td>Bass</td>
		          </tr>
		          <tr><th>3</th>
		            <td>George</td>
		            <td>Harrison</td>
		            <td>Guitar</td>
		          </tr>
		          <tr><th>4</th>
		            <td>Ringo</td>
		            <td>Starr</td>
		            <td>Drums</td>
		          </tr>
		        </tbody>
		      </table>

					<h5><strong>Table with (class=" table table-striped")</strong></h5>

		      <table class="table table-striped">
		        <thead>
		          <tr><th>#</th><th>First Name</th><th>Last Name</th><th>Instrument</th></tr>
		        </thead>
		        <tbody>
		          <tr><th>1</th>
		            <td>John</td>
		            <td>Lennon</td>
		            <td>Guitar</td>
		          </tr>
		          <tr><th>2</th>
		            <td>Paul</td>
		            <td>McCartney</td>
		            <td>Bass</td>
		          </tr>
		          <tr><th>3</th>
		            <td>George</td>
		            <td>Harrison</td>
		            <td>Guitar</td>
		          </tr>
		          <tr><th>4</th>
		            <td>Ringo</td>
		            <td>Starr</td>
		            <td>Drums</td>
		          </tr>
		        </tbody>
		      </table>

					<h5><strong>Table with (class="table table-hover")</strong></h5>

		      <table class="table table-hover">
		        <thead>
		          <tr><th>#</th><th>First Name</th><th>Last Name</th><th>Instrument</th></tr>
		        </thead>
		        <tbody>
		          <tr><th>1</th>
		            <td>John</td>
		            <td>Lennon</td>
		            <td>Guitar</td>
		          </tr>
		          <tr><th>2</th>
		            <td>Paul</td>
		            <td>McCartney</td>
		            <td>Bass</td>
		          </tr>
		          <tr><th>3</th>
		            <td>George</td>
		            <td>Harrison</td>
		            <td>Guitar</td>
		          </tr>
		          <tr><th>4</th>
		            <td>Ringo</td>
		            <td>Starr</td>
		            <td>Drums</td>
		          </tr>
		        </tbody>
		      </table>
				</div>


	      <h1 class="ref-title">Form Elememts</h1>
				<div class="component">
		      <div class="form-builder-wrapper">
						<form class="frm-bldr" enctype="multipart/form-data" method="post" action="/forms2/submit/465A916644931248BA5681DB76FE7FCF" novalidate="novalidate">
							<input type="hidden" name="data[Forms2][system][form_url]" value="/reference.html">
							<ul>
								<li class="input_text even" id="fld-text_field">
									<div class="label-wrapper">
										<label for="text_field">Text Field<span class="required" aria-required="true">*</span>
										</label>
									</div>
									<div class="field-wrapper">
										<input type="text" id="text_field" name="data[Forms2][text_field]" value="" placeholder="" class="loosetext required" aria-required="true">
									</div>
									<div class="clear"></div>
								</li>
								<li class="textarea odd" id="fld-text_area">
									<div class="label-wrapper">
										<label for="text_area">Text Area<span class="required" aria-required="true">*</span>
										</label>
									</div>
									<div class="field-wrapper">
										<textarea id="text_area" name="data[Forms2][text_area]" class="loosetext required" aria-required="true"></textarea>
									</div>
									<div class="clear"></div>
								</li>
								<li class="checkbox even" id="fld-checkbox_group">
									<div class="label-wrapper">
										<label for="checkbox_group">Checkbox Group<span class="required" aria-required="true">*</span>
										</label>
									</div>
									<div class="field-wrapper">
										<span class="multi-row clearfix">
						          <span class="row clearfix">
												<input type="checkbox" id="checkbox_group-checkbox_group1" name="data[Forms2][checkbox_group][]" value="Checkbox Group1"><label for="checkbox_group-checkbox_group1">Checkbox Group 1</label>
											</span>
											<span class="row clearfix">
												<input type="checkbox" id="checkbox_group-checkbox_group2" name="data[Forms2][checkbox_group][]" value="Checkbox Group2"><label for="checkbox_group-checkbox_group2">Checkbox Group 2</label>
											</span>
											<span class="row clearfix">
												<input type="checkbox" id="checkbox_group-checkbox_group3" name="data[Forms2][checkbox_group][]" value="Checkbox Group3"><label for="checkbox_group-checkbox_group3">Checkbox Group 3</label>
											</span>
										</span>
										<input type="hidden" id="checkbox_group_reqval" name="data[Forms2][system][checkbox_group_reqval]" class="required_checkbox">
									</div>
									<div class="clear"></div>
								</li>
								<!-- <li class="checkbox odd" id="fld-checkbox_group_no_title">
									<div class="label-wrapper">
										<label for="checkbox_group_no_title">Checkbox Group no title<span class="required" aria-required="true">*</span>
										</label>
									</div>
									<div class="field-wrapper">
										<span class="multi-row clearfix">
								      <span class="row clearfix">
												<input type="checkbox" id="checkbox_group_no_title-checkbox_group_no_title1" name="data[Forms2][checkbox_group_no_title][]" value="Checkbox Group no title1"><label for="checkbox_group_no_title-checkbox_group_no_title1">Checkbox Group 1</label>
											</span>
											<span class="row clearfix">
												<input type="checkbox" id="checkbox_group_no_title-checkbox_group_no_title2" name="data[Forms2][checkbox_group_no_title][]" value="Checkbox Group no title2"><label for="checkbox_group_no_title-checkbox_group_no_title2">Checkbox Group 2</label>
											</span>
											<span class="row clearfix">
												<input type="checkbox" id="checkbox_group_no_title-checkbox_group_no_title3" name="data[Forms2][checkbox_group_no_title][]" value="Checkbox Group no title3"><label for="checkbox_group_no_title-checkbox_group_no_title3">Checkbox Group 3</label>
											</span>
										</span>
										<input type="hidden" id="checkbox_group_no_title_reqval" name="data[Forms2][system][checkbox_group_no_title_reqval]" class="required_checkbox" aria-invalid="false">
									</div>
									<div class="clear"></div>
								</li> -->
								<li class="radio even" id="fld-radio_buttons">
									<div class="label-wrapper">
										<label for="radio_buttons">Radio Buttons<span class="required" aria-required="true">*</span>
										</label>
									</div>
									<div class="field-wrapper"><span class="multi-row">
							          <span class="row clearfix"><input type="radio" id="radio_buttons-option_1" name="data[Forms2][radio_buttons]" value="option 1" autocomplete="off"><label for="radio_buttons-option_1">option 1</label></span>
										<span class="row clearfix"><input type="radio" id="radio_buttons-option_2" name="data[Forms2][radio_buttons]" value="option 2" autocomplete="off"><label for="radio_buttons-option_2">option 2</label></span>
										<span class="row clearfix"><input type="radio" id="radio_buttons-option_3" name="data[Forms2][radio_buttons]" value="option 3" autocomplete="off"><label for="radio_buttons-option_3">option 3</label></span>
										</span>
										<input type="hidden" id="radio_buttons_reqval" name="data[Forms2][system][radio_buttons_reqval]" class="required_radio">
									</div>
									<div class="clear"></div>
								</li>
								<li class="select_countries odd" id="fld-dropdown_list">
									<div class="label-wrapper">
										<label for="dropdown_list">Dropdown List<span class="required" aria-required="true">*</span>
										</label>
									</div>
									<div class="field-wrapper">

										<select name="data[Forms2][dropdown_list]" id="dropdown_list" class="select_countries required " aria-required="true">

											<option value="Antigua And Barbuda">Antigua And Barbuda</option>
											<option value="Argentina">Argentina</option>
											<option value="Armenia">Armenia</option>
											<option value="Aruba">Aruba</option>
											<option value="Australia">Australia</option>
											<option value="Austria">Austria</option>
											<option value="Azerbaijan">Azerbaijan</option>

										</select>
									</div>
									<div class="clear"></div>
								</li>
								<li class="select_countries even" id="fld-dropdown_list_multiple">
									<div class="label-wrapper">
										<label for="dropdown_list_multiple">Dropdown List (multiple)<span class="required" aria-required="true">*</span>
										</label>
									</div>
									<div class="field-wrapper">
										<select name="data[Forms2][dropdown_list_multiple][]" id="dropdown_list_multiple" multiple="multiple" class="select_countries required " aria-required="true">

											<option value="Argentina">Argentina</option>
											<option value="Armenia">Armenia</option>
											<option value="Aruba">Aruba</option>
											<option value="Australia">Australia</option>
											<option value="Austria">Austria</option>
											<option value="Azerbaijan">Azerbaijan</option>

										</select>
									</div>
									<div class="clear"></div>
								</li>
								<li class="input_date odd" id="fld-date_file_references_required">
									<div class="label-wrapper">
										<label for="date_file_references_required">Date (file references required)
											<span class="required" aria-required="true">*</span>
										</label>
									</div>
									<div class="field-wrapper">
										<input type="hidden" class="validation" value="future_date_current">
										<input type="text" id="date_file_references_required" name="data[Forms2][date_file_references_required]" value="" class="datepicker future_date_current required hasDatepicker" readonly="readonly" aria-required="true">
									</div>
									<div class="clear"></div>
								</li>
								<li class="input_file last even" id="fld-image_upload">
									<div class="label-wrapper">
										<label for="image_upload">Image upload<span class="required" aria-required="true">*</span>
										</label>
									</div>
									<div class="field-wrapper">
										<input type="file" id="image_upload" name="data[Forms2][image_upload]" value="" class="image required" aria-required="true">
									</div>
									<div class="clear"></div>
								</li>

								<li class="btn-submit">
									<input type="submit" name="data[Forms2][system][submit]" value="Submit">
								</li>
							</ul>

							<input type="hidden" name="data[Forms2][system][ts]" value="">

						</form>
		      </div>
				</div>

	    </div>
	  </div>

	</section>


	<section class="content reference-page" id="project-components">

	  <div class="container">
	    <div class="content__wrap">

				<h1 class="ref-title center">PROJECT COMPONENTS <span class="badge badge--warning">Soon</span></h1>
				<div class="component">
					<p>

					</p>
				</div>



				<br/><br/>
			</div>
		<div>
	</section>


	<!-- Include all compiled plugins (below), or include individual files as needed -->

	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

	<!-- PAGEBOTTOM SCRIPTS -->
	<script src="https://www.netaffinity.com/global-js/jquery.validate.min.js" type="text/javascript" charset="utf-8" ></script>
	<script src="https://www.netaffinity.com/global-js/placeholders.min.js" type="text/javascript" charset="utf-8" ></script>
	<script src="https://www.netaffinity.com/global-js/form-builder-init.js" type="text/javascript" charset="utf-8" ></script>

	<link rel="stylesheet" type="text/css" href="https://www.netaffinity.com/global-css/form-builder.css">
	<link rel="stylesheet" type="text/css" href="https://www.netaffinity.com/global-css/jquery-ui.css">

	<!-- Plugins JS -->
	<script src="files/js/plugins.min.js"></script>
	<!-- JS Settings -->
	<script src="files/js/settings.min.js"></script>

</body>
</html>
