.button {
  position: relative;
  display: inline-block;
  min-width: $button-width;
  height: $button-height;
  line-height: $button-height;
  padding: 0 $spacing-base;
  font-size: $font-size-base;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  color: #FFFFFF;
  border: 1px solid $primary-color;
  background-color: $primary-color;
  cursor: pointer;
  appearance: none;
  transition: all 250ms linear;

  // size
  &.button--small {
    min-width: ceil(($button-width * 0.7));
    height: ceil(($button-height * 0.7));
    line-height: ceil(($button-height * 0.65));
    font-size: round(($font-size-base * 0.85));
  }
  &.button--large {
    min-width: ceil(($button-width * 1.3));
    height: ceil(($button-height * 1.3));
    line-height: ceil(($button-height * 1.3));
    font-size: round(($font-size-base * 1.25));
  }

  &:hover {
    border-color: darken($primary-color, 10);
    background-color: darken($primary-color, 10);
    &.button--outline {
      color: darken($primary-color, 10);
      background: transparent;
    }
  }

}


// round
.button--round {
  border-radius: $global-radius;
}

.button--round-full {
  border-radius: 100px;
}

// outline
.button--outline {
  color: $primary-color;
  background: transparent;
}

// disabled
.disabled,
[disabled] {
  border-color: #CCCCCC;
  background-color: #CCCCCC;
  cursor: default;
  pointer-events: none;

  &.button--outline {
    color: #CCCCCC;
    border-color: #CCCCCC;
    background: transparent;
  }
}

//Button Constrast function
@function button-contrast($color) {
  @if (lightness( $color ) < 40) {
    @return lighten($color, 10);
  }
  @else {
    @return darken($primary-color, 10);
  }
}

// colors
@each $section, $color in $colors {
  .button--#{$section} {
    background-color: $color;
    border-color: $color;
    &.button--outline {
      color: $color;
      background: transparent;
    }
    &:hover {
      border-color: darken($color, 10);
      background-color: darken($color, 10);
      &.button--outline {
        color: white;
        background: darken($color, 10);
      }
    }
  }
}

// icons
.icon--right,
.icon--left {
  padding-left: 30px;
  i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.icon--right {
  padding-left: 10px;
  padding-right: 30px;
  i {
    left: auto;
    right: 10px;
  }
}
