.ui-datepicker .ui-datepicker-prev span:before {content:"\f104 "}
.ui-datepicker .ui-datepicker-next span:before {content:"\f105 "}

.ui-datepicker .ui-datepicker-prev span {
    content: " " !important;
    color: #fff;
}

.ui-datepicker .ui-datepicker-prev span:before,
.ui-datepicker .ui-datepicker-next span:before {
    color: #fff;
    display: block;
    font-family: FontAwesome;
    font-size: 19px;
    padding: 0 5px;
    text-align: center;
}


.ui-datepicker .ui-datepicker-header {
    background: $calendar-head-bg;
    border: 0 none;
    padding: 1em 0;
    position: relative;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
    background-image: none;
    opacity: 0.35;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
    background-image: none;
    opacity: 0.35;
}

.ui-datepicker a {
    font-weight: normal !important;
}

.ui-widget-header .ui-icon {
    background-image: none!important;
}

.ui-corner-all {
    border: 0 none!important;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;
    border-top-right-radius:0px;
    border-top-left-radius:0px;
}



.ui-datepicker-close,
.ui-datepicker-close:hover,
.ui-datepicker-close:active,
.ui-datepicker-close:focus{
    display: inline-block !important;
    background: none !important;
    font-family: 'Open Sans', Arial, sans-serif !important;
    text-transform: uppercase !important;
    color: #505c76 !important;
    font-size: 12px !important;
    padding: 12px 13px 9px!important;
    width: 90% !important;
    margin-top: 0px !important;
    border-top: 1px solid #ddd !important;
    margin-right: 15px !important;

}

html.ie8 .ui-datepicker-close,
html.ie9 .ui-datepicker-close{
    display: none !important;
}


.ui-widget {
    font-family:inherit!important;
}

.ui-datepicker {
    display: none;
    padding: 0;
    // width: 17em;
    margin: 5px 0;
    width: 20em;
    border-radius: 0;

}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: 1px solid #C8ECFA;

    font-weight: bold;
    color: #333;
}


.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 1px solid #00ACEE;
    background: #fff;
    color: #666;
}


.ui-datepicker table {
    background: none repeat scroll 0 0 #fff;
    border-color: white;
    border-style: solid;
    border-width: 10px 20px 20px;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    font-size: 0.9em;
    width: 100%;
}

.ui-datepicker td, .ui-datepicker th {
    min-width: 30px;
}

.ui-datepicker th {
    color: #999;
    text-transform: uppercase;
    border: 0 none;
    font-weight: bold;
    padding: 0.7em 0.3em;
    text-align: center;
    span {
        border-bottom: 1px solid #e6e6e6;
        display: block;
        padding: 0.7em 0 1em;
    }
    td {
        border: 0 none;
    }
}


.ui-state-disabled {
    cursor: default !important;
}

.ui-datepicker-calendar .ui-state-default {
    border: 1px solid #fff;
    border-radius: 2px;
    color: #999;
    text-align: center;
    background: none repeat scroll 0 0 #fff;
    padding: 7px;
}

.ui-datepicker td span, .ui-datepicker td a {
    display: block;
    padding: 0.2em;
    text-align: right;
    text-decoration: none;
}

.ui-datepicker .ui-datepicker-title {
    line-height: 1.8em;
    margin: 0 2.3em;
    text-align: center;
}

.ui-datepicker .ui-datepicker-title {
    color: $calendar-head-txt;
    font-size: 1.3em;
    font-weight: 300;
}


.ui-datepicker .ui-datepicker-buttonpane {
    margin: 0;
    padding: 0;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    height: 1.8em;
    position: absolute;
    width: 1.8em;
    top: 15px;
    overflow: hidden;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 0px solid #999999;
    background: rgba(176, 154, 85, 0.66);
    font-weight: normal;
    color: #212121;
}

.ui-widget {
    font-size: 1.1em;
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
    background-color:transparent;
    border:0 none;
    cursor:pointer;
}

.ui-datepicker .ui-datepicker-next {
    right: 8px;
}

.ui-datepicker .ui-datepicker-prev {
    left: 8px;
}


.ui-datepicker .ui-datepicker-prev-hover {
    left: 0px;
}
.ui-datepicker .ui-datepicker-next-hover {
    top: 15px !important;
    right: 8px;
}

#ui-datepicker-div {
    background: #fff none repeat scroll 0 0;
    border: 5px solid $gray-lighter !important;
    width: 295px !important;
    z-index: 99111 !important;
    .ui-datepicker-current{
        display: none !important;
    }

    .ui-state-active {
        font-weight: bold;
    }

    a.ui-state-default {
        color: $text-color;
    }

    .ui-icon {
        border: 0px;
        margin-top: -6px;
        overflow: hidden;
        text-indent: 0;
        height: 35px;
        width: 35px;
        border-radius: 25px;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        border: 0px solid #fff;
        cursor: pointer;
        &:before {
            color: $calendar-head-txt !important;
            font-size: 22px;
        }
        &:hover {
            color: #272727;
            border: 0px;
            background-color: transparent;
            margin-top: -5px;
            &:before {
                color: $calendar-head-txt !important;
            }
        }

        i {
            color: #fff;
            display: block;
            font-size: 21px;
            padding: 7px 11px;
        }
    }

    @media (max-width: 360px) {
        width: 265px !important;

        .ui-datepicker-header{
            padding: 0.8em 0;
        }

        .ui-datepicker-calendar{
            border-width: 0px !important;
        }
    }

}

.ui-widget-content{
    background: #ffffff;
    color: #222222;
    border:0 none!important;
    table.ui-datepicker-calendar {

        .ui-state-active {
            background: $calendar-active-color;
            color:contrast-calendar($calendar-active-color) !important;
            border-radius: 4px;
        }

        .ui-state-hover {
            background: $calendar-hover-color !important;
            color:#fff !important;
            border-radius: 4px;
        }

    }
}
