.carousel {
  .slick-dots {
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex !important;
    justify-content: center;
    li {
      position: relative;
      display: inline-block;
      height: 20px;
      width: 20px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        border: 0;
        background: transparent;
        display: block;
        height: 20px;
        width: 20px;
        outline: none;
        line-height: 0px;
        font-size: 0px;
        color: transparent;
        cursor: pointer;
        &:hover, &:focus {
          outline: none;
          &:before {
            opacity: 1;
          }
        }
        &:before {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          content: '';
          width: 8px;
          height: 8px;
          opacity: .5;
          background: $gray;
          border-radius: 50%;
          transition: all .5s ease-in-out;

        }
      }
      &.slick-active button:before {
        background: $secondary-color;
        opacity: 1;
        width: 14px;
        height: 14px;
      }
    }
  }
}

.carousel__nav {
  color: white;
  background: rgba(black, .3);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5rem;
  cursor: pointer;
  transition: all .3s ease-in-out;

  &:hover {
    background: rgba(black, .5);
  }
  @media (max-width: 767px) {
    font-size: 1.5rem;
  }
}
.carousel__nav--prev {
  left: 0px;

}
.carousel__nav--next {
  right: 0px;
}
