.cc-revoke,
.cc-window,
.cc-message {
	font-family: $font-family-sans-serif !important;
	font-size: 12px !important;
}

.cc-window.cc-floating {
	max-width: 100% !important;
}

.cc-theme-edgeless.cc-window {
	width: 100% !important;
	top: 0px !important;
}
.cc-floating.cc-theme-edgeless .cc-message {
	margin: 1em 2em 1em !important;
	line-height: 1.35;

}
.cc-link {
	padding: 0px !important;
}
.cc-btn {
	transition: all .3s ease-in-out;
}
.cc-btn:hover {
 color: white !important;
}
