.fancybox-slide--iframe .fancybox-close-small {
  top: -44px;
  right: 0px;
}

.fancybox-arrow[disabled] {
  background: transparent;
}
@media all and (min-width: 800px) {
  .fancybox-thumbs {
    top: auto;
    width: auto;
    bottom: 0;
    left: 0;
    right : 0;
    height: 95px;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
    ul {
      height: auto;
    }
  }
  .fancybox-show-thumbs .fancybox-inner {
    right: 0;
    bottom: 95px;
  }
  .fancybox-thumbs>ul>li:before {
    border-color: $secondary-color;
  }
}
