.nav {
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    li {
      padding: 5px $spacing-base;
      float: left;

      a {
        font-size: 1.125rem;
        @media (max-width: 1240px){
          font-size: 1rem;
        }
        @media (max-width: 1024px){
          font-size: 1.125rem;
        }
      }

      ul {
        display: none;
      }


    }
  }
}
