.sitemap{
	ul {
		margin: 0px;
		li{
			padding: 10px;
			border: 1px solid #ccc;
			border-left: 6px solid lighten($gray, 5%);
			margin: 10px;
			list-style: none;
			a{
				font-size: 18px;
				font-weight: 300;
				text-transform: uppercase;
			}
		}
		ul{
			li{
				border-left: 4px solid lighten($gray, 15%);
				background: #f5f5f5;
				a{
					font-size: 14px;
					font-weight: 300;
					text-transform: uppercase;
					color: #6c5f2e;
				}
				ul{
					li{
						border-left: 4px solid lighten($gray, 20%);
						background: #e4e4e4;
						a{
							font-size: 12px;
							font-weight: 400;
							text-transform: normal;
							color: #666;
						}
					}
				}
			}
		}
	}
}
