* {
	outline: none;
	box-sizing: border-box;
}

body, html{
	font-size: $font-size-base;
	line-height: 1.5;
	font-family: $font-family-sans-serif;
	color: $text-color;
	font-weight: 400;
	background: $body-bg;
}

.body--fixed {
	overflow: hidden;
}

a:not(.button) {
	color:$link-color;
	text-decoration:none;
	&:hover,
	&:focus,
	&:active {
	 	color:$link-hover-color;
	 	text-decoration:none;
	}
}

.lazy-img {
   -webkit-transition: opacity 500ms ease-in-out;
      -moz-transition: opacity 500ms ease-in-out;
        -o-transition: opacity 500ms ease-in-out;
           transition: opacity 500ms ease-in-out;
            max-width: 100%;
              opacity: 0;
}
.lazy-img.lazy-loaded {
              opacity: 1;
}

@each $heading, $size in $headings {
	#{$heading} {
		font-size: $size;
		@media (max-width: 767px) {
			font-size: ceil(($size * 0.8));
		}
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family-heading;
	font-weight: 400;
	margin: 0px;
}



table {
	width: 100%;
	max-width: 100%;
	margin-bottom: $spacing-base;
	th,
	td {
		padding: $spacing-base / 4;
		vertical-align: top;
		border: 1px solid #efefef;
	}
	thead th {
		vertical-align: bottom;
		border-bottom: (2 * 1px) solid #efefef;
	}
	tbody + tbody {
		border-top: (2 * 1px) solid #efefef;
	}
	.table {
		background-color: #fff;
	}
}

.table-hover {
	tbody tr {
		&:hover {
			background-color: #eee;
		}
	}
}
.table-striped {
	tbody tr:nth-of-type(odd) {
		background-color: #eee;
	}
}

.content {
	color: $text-color;

	h1, h2, h3, h4, h5, h6 {
		padding-top: $spacing-base / 2;
		padding-bottom: $spacing-base / 2;

	}
	p {
		padding-top: $spacing-base / 4;
		padding-bottom: $spacing-base / 4;
		margin: 0px;
	}
	strong {
		font-weight: bold;
	}
	em {
		font-style: italic;
	}
	ul {
		li {
			list-style: inside disc;
			padding-top: $spacing-base / 4;
			padding-bottom: $spacing-base / 4;
			line-height: 1.5;
		}
	}
	ol {
		li {
			list-style: inside decimal;
			padding-top: $spacing-base / 4;
			padding-bottom: $spacing-base / 4;
			line-height: 1.5;
		}
	}
	a:not(.button) {
		color: $primary-color;
		font-weight: bold;
	}


}
