/*--------------------------------------------------------------
ARROWS
--------------------------------------------------------------*/
@font-face {
  font-family: "Arrows";
  src: url("../fonts/Arrows.eot");
  src: url("../fonts/Arrows.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Arrows.woff") format("woff"),
       url("../fonts/Arrows.ttf") format("truetype"),
       url("../fonts/Arrows.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Arrows";
    src: url("../fonts/Arrows.svg#Flaticon") format("svg");
  }
}

.arrows:before{
  display: inline-block;
  font-family: "Arrows";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.arrows-close:before { content: "\f100"; }
.arrows-down:before { content: "\f101"; }
.arrows-left:before { content: "\f102"; }
.arrows-right:before { content: "\f103"; }
.arrows-up:before { content: "\f104"; }
    
$font-arrows-close: "\f100";
$font-arrows-down: "\f101";
$font-arrows-left: "\f102";
$font-arrows-right: "\f103";
$font-arrows-up: "\f104";