input[type="text"]:not(.na-searchbox__ratecode-input),
input[type="email"],
input[type="password"],
input[type="search"],
input[type="submit"],
textarea,
select {
  display: block;
  width: 100%;
  font-size: 18px;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 0 10px;
  transition: all 200ms linear;
  appearance: none;
  height: 55px;
  line-height: 1.4;
  box-shadow: 0px 1px 1px 0px rgba(black,.1);
  color: black;
  font-weight: normal;
  font-family: $font-family-sans-serif;
}

@include placeholder {
  color: rgba(black, .5);
}


/* ========================= FORMS ========================= */


.form-builder-wrapper, .form-style {
  width: 100%;
  ul {
    clear: both;
    margin: 0;
    padding: 0;
   li {
      padding: 10px 0;
      display: inline-block;
      width: 100%;
      list-style: none outside none !important;
      margin: 5px 0;
      &:before {
        display: none;
      }
    }
  }

  .label-wrapper {
    width: 25%;
    float: left;
    padding-top: 5px;
    label {
      text-transform: uppercase;
      font-size: 13px;
      line-height: 13px;
      font-weight: bold;
      margin: 0px;
      padding: 0px;
      &:before {
        display: none;
      }
    }
  }

  .field-wrapper {
    width: 75%;
    float: left;

    label {
      position: relative;
      padding-left: 30px;
      padding-top: 5px;

      &.error {
        background: none repeat scroll 0 0 lighten($gray-lighter, 8);
        color: darken($gray-lighter, 30);
        display: table;
        font-size: 0.8em;
        padding: 0.3em;
        position: relative;
        right: 0;
        text-align: left;
        &:before {
          display: none;
        }
      }
    }

    input[type=text],
    select,
    textarea,
    #upload {
      border: 1px solid $gray-lighter;
      font-family: 'Open Sans', Arial, sans-serif;
      width: 100%;
      font-size: 1em;
      clear: both;
      border-radius: $global-radius;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

      &:hover {
        border: 1px solid darken($gray-lighter, 10);
      }

      &:focus {
        border: 1px solid $primary-color;
      }

      &.error {
        border-left: 3px solid $error-color;
        &:hover {
          border-left: 3px solid $error-color;
        }

      }

    }

    textarea {
      padding: 10px;
      min-height: 100px;
    }



    select[multiple=multiple]{
      min-height: 100px;
      padding: 10px;
    }

    input[type=checkbox],
    input[type=radio] {
      display: none;
      margin-left: 0px;
      vertical-align: text-top;


      &:hover {
        &:before {
          border: 1px solid darken($gray-lighter, 10);
        }

      }

    }


    input.datepicker {
      background: #fff;
      width: auto;
      float: left;
      padding-left: 40px;
    }



    input.phone,
    input.email {
      width: 100%;
    }

    .multi-row {
      float: left;
      span.row {
        clear: both;
        display: block;
        padding: 0.6em 0;
        float: left;
      }
    }
  }

  label {

    &:before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      position: absolute;
      left: 0;
      top: 3px;
      background-color: #fff;
      box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
      border: 1px solid $gray-lighter;
      border-radius: $global-radius;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    }
  }

  .checkbox {

    label {
      cursor: pointer;
    }
    label:before {
      border-radius: 2px;
    }

    input[type=checkbox] {

      &:checked+label:before {
        border: 1px solid $primary-color;
        background-color: $primary-color;
        content: "\F12C";
        font-family: 'Material Design Icons';
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        font-size: 16px;
        font-weight: bolder;
        color: #ffffff;
        text-align: center;
        line-height: 18px;
        padding-top: 1px;
      }

    }
  }
  .radio {
    label {
      cursor: pointer;
    }
    label:before {
      border-radius: 50%;
    }
    input[type=radio] {
      &:checked+label:before {
        border: 1px solid $primary-color;
        background-color: $primary-color;
        content: "\F764";
        font-family: 'Material Design Icons';
        color: #fff;
        font-size: 11px;
        text-align: center;
        line-height: 21px;
      }
    }
  }

  table {
    width: 100%;
  }

  input[type="submit"] {
    background-color: $primary-color;
    border: none;
    color: white;
    font-size: 18px;
    margin: auto;
    display: block;
    width: 100%;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 15px;
    @include anim(350ms, ease);
    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }

  @media (max-width: 480px) {
    ul li {
      border: 0px;
    }
    .label-wrapper, .field-wrapper, #dates_required {
      display: block;
      width: 100%;
      label {
        margin: 0px;
      }
    }
    .li.btn-submit input {
      width: 100%;
    }
  }
} // END FORM BUILDER

.datepicker-icon,
.select-icon {
  width: auto !important;
  position: relative;

  &:after {
    content: "\F0EE";
    position: absolute;
    font: normal normal normal 18px/1 "Material Design Icons";
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: darken($gray-lighter, 10);
    pointer-events: none;
  }
  .datepicker {
    padding-left: 25px;
  }
}

.select-icon {
  width: 75% !important;
  &:after {
    content: "\F140";
    left: inherit;
    right: 10px;
  }
  select {
    padding-right: 25px;

  }
}

@media (max-width: 767px) {
  .datepicker-icon,
  .select-icon {
    width: 100% !important;
  }
}
