.container {
	width: $container-width;
	max-width: $container-max-width;
	margin: 0 auto;
	padding: $container-padding;
}

.container--fluid {
	width: 100%;
	max-width: $container-max-width;
	margin: 0 auto;
	padding: 0px;

}

.no-padding {
	padding: 0px !important;
}

.no-padding-right {
	padding-right: 0px !important;
}

.no-padding-left {
	padding-left: 0px !important;
}

.row {
	margin: 0px !important;
}

.visible-xxs {
	display: none;
}


/* Large devices */
@media (max-width: 1200px) {
	.no-padding-lg{
		padding:0;
	}
	.padding-lg{
		padding:15px;
	}
	.txt-center-lg{
		text-align: center;
	}
	.pull-none-lg{
		float: none !important;
	}
	.block-lg{
		display: block !important;
	}
}

.is-mobile {
	display: none;
	@media (max-width: 767px) {
		display: block;
	}
}

.is-tablet {
	display: none;
	@media (max-width: 768px) {
		display: block;
	}
}

.is-tablet-lg {
	display: none;
	@media (max-width: 1024px) {
		display: block;
	}
}

.is-not-mobile {
	@media (max-width: 767px) {
		display: none;
	}
}

.is-not-tablet {
	@media (max-width: 768px) {
		display: none;
	}
}

.is-not-tablet-lg {
	@media (max-width: 1024px) {
		display: none;
	}
}

/* Medium devices */
@media (max-width: 992px) {
	.no-padding-md{
		padding:0;
	}
	.padding-md{
		padding:15px;
	}
	.txt-center-md{
		text-align: center;
	}
	.pull-none-md{
		float: none !important;
	}
	.block-md{
		display: block !important;
	}
}

/* Small devices */

@media (max-width: 768px) {
	.hidden-xs{
		display: none !important;
	}
	.visible-xs{
		display: block !important;
	}
	.no-padding-sm{
		padding:0;
	}
	.padding-sm{
		padding:15px;
	}
	.txt-center-sm{
		text-align: center !important;
	}
	.pull-none-sm{
		float: none !important;
	}
	.block-sm{
		display: block !important;
	}
}

@media (max-width: 480px) {
	.no-padding-xs{
		padding:0;
	}
	.padding-xs{
		padding:15px;
	}
	.txt-center-xs{
		text-align: center;
	}
	.pull-none-xs{
		float: none !important;
	}
	.hidden-xxs{
		display: none !important;
	}
	.visible-xxs{
		display: block !important;
	}
	.block-xs{
		display: block !important;
	}
}




//Background _helpers
@each $section, $color in $colors {
  .section--#{$section} {
    background-color: $color;
  }
}

//Text Color _helpers
@each $section, $color in $colors {
  .text--#{$section} {
    color: $color;
  }
}
