// Layout colors
$primary-color:				#FFC933;
$secondary-color: 		#72a9a3;

//Grays
$gray-base:              	#333;
$gray-darker:            	lighten($gray-base, 13.5%);
$gray-dark:              	lighten($gray-base, 20%);
$gray:                   	lighten($gray-base, 33.5%);
$gray-light:             	lighten($gray-base, 46.7%);
$gray-lighter:           	#DDD;
$gray-lighter-bg:        	lighten($gray-lighter, 10%);

//Buttons
$book-btn-color:			$primary-color;

// General Settings
$body-bg:				   	#ffffff;
$text-color:				$gray-darker;
$link-color:				$primary-color;
$link-hover-color:  darken($primary-color,15%);

//Status
$error-color: #AF0000;

//Calendar
@function contrast-calendar($color) {
  @if (lightness( $color ) < 70) {
    @return #fff;
  }
  @else {
    @return $text-color;
  }
}

$calendar-head-bg: $primary-color;
$calendar-head-txt: contrast-calendar($primary-color);
$calendar-active-color: darken($primary-color, 15%);
$calendar-hover-color: darken($primary-color, 5%);

//Array
$colors: (
  'primary': $primary-color,
  'secondary': $secondary-color,
  'book': $book-btn-color,
  'cal-header-bg': $calendar-head-bg,
  'cal-header-txt': $calendar-head-txt,
  'cal-active': $calendar-active-color,
  'cal-hover': $calendar-hover-color,
  'error': $error-color,
  'gray-lighter': $gray-lighter,
  'gray-darker': $gray-darker,
  'gray-bg': $gray-lighter-bg,
  'white': white,
  'black': black,
);
