// Typography
$font-family-sans-serif:  	'Open Sans', sans-serif;
$font-family-serif:         Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   	Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        	$font-family-sans-serif;
$font-family-heading:		    $font-family-sans-serif;
$font-family-weight:		    300;
$font-size-base:          	16px;
$font-size-large:         	ceil(($font-size-base * 1.25));
$font-size-small:         	ceil(($font-size-base * 0.85));
$font-size-h1:            	floor(($font-size-base * 2.45));
$font-size-h2:            	floor(($font-size-base * 2.15));
$font-size-h3:            	ceil(($font-size-base * 1.7));
$font-size-h4:            	ceil(($font-size-base * 1.25));
$font-size-h5:            	$font-size-base;
$font-size-h6:            	ceil(($font-size-base * 0.85));


// List of headings
$headings: ( h1: $font-size-h1, h2: $font-size-h2, h3: $font-size-h3, h4: $font-size-h4, h5: $font-size-h5, h6: $font-size-h6 );


// Helper Classes for Typography

.upper {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

// Helper Functions for Typography

@function text-contrast($color) {
  @if (lightness( $color ) < 40) {
    @return #fff;
  }
  @else {
    @return $text-color;
  }
}
