$container-width: 95%;
$container-max-width: 1600px;
$container-padding: 0 15px;

// Spacing
$spacing-base: 20px;
$spacing-base-lg: 40px;

//UI  Elements
$header-height: 50px;
$button-width: 140px;
$button-height: 50px;
$global-radius: 5px;
$global-shadow: 0 1px 2px 0px rgba(0,0,0,.15);
