<!-- {literal} -->

<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#262626"
    },
    "button": {
      "background":  "#4B4848"
    }
  },
  "theme": "edgeless",
  "position": "top",
  onPopupOpen : function () {pushDown(this.element.clientHeight);},
  onPopupClose : function () {pushDown(0);},
  "content": {
    "message": "By continuing to use this site you consent to the use of cookies in accordance with our ",
    "dismiss": "Close",
    "link": "cookie policy.",
    "href": "/cookie-policy.html"
  }
});
function pushDown(height) {
  var navbar = document.getElementsByClassName("header")[0];
  navbar.style.transition = 'all .3s';
  navbar.style.marginTop = height+'px';

  var navbar = document.getElementsByClassName("body__wrapper")[0];
  navbar.style.transition = 'all .3s';
  navbar.style.top = height+'px';
}

});



</script>

<!-- {/literal} -->
