	<!-- FAVICONS -->
	<link rel="apple-touch-icon" sizes="57x57" href="/files/images/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/files/images/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/files/images/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/files/images/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/files/images/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/files/images/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/files/images/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/files/images/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/files/images/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/files/images/favicon//android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/files/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/files/images/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/files/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="/files/images/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#fbf5de">
	<meta name="msapplication-TileImage" content="/files/images/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#fbf5de">