

@@include('cookie-notice.html')
</div> <!-- BODY WRAPPER END -->

<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js" async></script>

<!-- Plugins JS -->
<script src="files/js/plugins.min.js"></script>

<!-- JS Settings -->
<script src="files/js/settings.min.js"></script>

</body>
</html>
